.card {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  height: 400px; /* Adjust the height to your desired value */
 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card h4 {
  margin-top:10px;
  
}
.card p {
  margin-top:10px;
  
}

.card button {
  margin-top: 10px;
}

/* Productpage.css */

.card-container {
  padding: 20px;
 
}

.card-container h1 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.btn-primary
{
  background-color: whitesmoke;
  border:0.5px groove #18445c;
}



.card img {
  width: 100%;
  height: auto;
}